# ==========================================
# PimsOS Builder
# Fichiers générés automatiquement
# ==========================================

# ------------------------------------------
# Workspace
# ------------------------------------------

Workspace/

# ------------------------------------------
# Dossiers générés
# ------------------------------------------

Output/
Reports/
Mount/

# ------------------------------------------
# Résultats de tests
# ------------------------------------------

Tests/testResults.xml

# ------------------------------------------
# Journaux
# ------------------------------------------

Logs/
*.log

# ------------------------------------------
# Images Windows
# ------------------------------------------

*.iso
*.wim
*.esd

# ------------------------------------------
# Fichiers temporaires
# ------------------------------------------

*.tmp
*.bak
*.cache
*.orig

# ------------------------------------------
# Visual Studio Code
# ------------------------------------------

.vscode/

# ------------------------------------------
# Windows
# ------------------------------------------

Thumbs.db
Desktop.ini

# ------------------------------------------
# macOS
# ------------------------------------------

.DS_Store
# Notes de reprise locales
PimsOS_Reprise_*.txt
